# Bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np
import os
%matplotlib inline

# Informações

In [2]:
# baixar arquivo do jogo
df = pd.read_csv('df.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,diferenca_placar_casa,diferenca_placar_visitante,diferenca_placar_absoluto
0,6,3000.0,98,100,NaN,fim_partida,NaN,-2,2,2
1,6,3000.0,98,100,NaN,fim_quarto,NaN,-2,2,2
2,6,2996.0,98,100,COR,AS,Fischer,-2,2,2
3,6,2996.0,98,100,COR,3_Pts_C,Fuller,-2,2,2
4,6,2994.0,95,100,COR,RO,Renato,-5,5,5
...,...,...,...,...,...,...,...,...,...,...
647,1,0.0,0,0,COR,substituicao_entra,Miller,0,0,0
648,1,0.0,0,0,COR,substituicao_entra,L Cauê,0,0,0
649,1,0.0,0,0,COR,substituicao_entra,Fuller,0,0,0
650,1,0.0,0,0,COR,substituicao_entra,Fischer,0,0,0
651,1,0.0,0,0,NaN,inicio_partida,NaN,0,0,0

In [3]:
# baixar arquivo das informações do jogo
inf = pd.read_csv('informacao_jogo.csv')
inf.drop(['Unnamed: 0'], axis=1, inplace=True)
inf

,Nomes,Siglas,Mandante,Classificação,Temporada,Dia,Arquivo,Imagem
0,Corinthians,COR,casa,1 Turno,2019,02/01/2021,informacoes_dos_times/Corinthians,informacoes_dos_times/Corinthians/Corinthians
1,Paulistano,CAP,fora,1 Turno,2019,02/01/2021,informacoes_dos_times/Paulistano,informacoes_dos_times/Paulistano/Paulistano

In [4]:
sigla_time_a = inf.loc[0, 'Siglas']
sigla_time_b = inf.loc[1, 'Siglas']
nome_time_casa = inf.loc[0, 'Nomes']
nome_time_fora = inf.loc[1, 'Nomes']

# Análise da posse de bolas

In [5]:
df = df[::-1]
df.reset_index(drop=True, inplace=True)
df

,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,diferenca_placar_casa,diferenca_placar_visitante,diferenca_placar_absoluto
0,1,0.0,0,0,NaN,inicio_partida,NaN,0,0,0
1,1,0.0,0,0,COR,substituicao_entra,Fischer,0,0,0
2,1,0.0,0,0,COR,substituicao_entra,Fuller,0,0,0
3,1,0.0,0,0,COR,substituicao_entra,L Cauê,0,0,0
4,1,0.0,0,0,COR,substituicao_entra,Miller,0,0,0
...,...,...,...,...,...,...,...,...,...,...
647,6,2994.0,95,100,COR,RO,Renato,-5,5,5
648,6,2996.0,98,100,COR,3_Pts_C,Fuller,-2,2,2
649,6,2996.0,98,100,COR,AS,Fischer,-2,2,2
650,6,3000.0,98,100,NaN,fim_quarto,NaN,-2,2,2
651,6,3000.0,98,100,NaN,fim_partida,NaN,-2,2,2

In [6]:
teste = df[:200]
teste

,Quarto,Tempo,placar_casa,placar_visitante,Time,Indicador,Nome,diferenca_placar_casa,diferenca_placar_visitante,diferenca_placar_absoluto
0,1,0.0,0,0,NaN,inicio_partida,NaN,0,0,0
1,1,0.0,0,0,COR,substituicao_entra,Fischer,0,0,0
2,1,0.0,0,0,COR,substituicao_entra,Fuller,0,0,0
3,1,0.0,0,0,COR,substituicao_entra,L Cauê,0,0,0
4,1,0.0,0,0,COR,substituicao_entra,Miller,0,0,0
...,...,...,...,...,...,...,...,...,...,...
195,2,1010.0,28,25,CAP,3_Pts_T,Vitão,3,-3,3
196,2,1013.0,28,25,CAP,RO,Vitão,3,-3,3
197,2,1018.0,28,25,CAP,3_Pts_T,Deryk,3,-3,3
198,2,1023.0,28,25,CAP,RO,Maique,3,-3,3
199,2,1027.0,28,25,CAP,3_Pts_T,Thomas,3,-3,3

In [7]:
jogadores_time_a = []
jogadores_time_b = []
for i in range(12):
    if teste['Time'][i] == sigla_time_a:
        if teste['Indicador'][i] == 'substituicao_entra':
            nome = teste['Nome'][i]
            jogadores_time_a.append(nome)
    else:
        if teste['Indicador'][i] == 'substituicao_entra':
            nome = teste['Nome'][i]
            jogadores_time_b.append(nome)

if len(jogadores_time_a) != 5:
    print(erroooo)
elif len(jogadores_time_b) != 5:
    print(erroooo)
else:
    print('sim')

sim

In [8]:
jogadores_time_b

['Ruivo', 'Deryk', 'Vitão', 'Jimmy', 'Maique']

In [9]:
jogadores_time_a

['Fischer', 'Fuller', 'L Cauê', 'Miller', 'Arthur']

In [10]:
if teste['Indicador'][0] == 'inicio_partida':
    teste = teste[11:]
    teste.reset_index(drop=True, inplace=True)
    print('sim')
else:
    teste = teste[10:]
    teste.reset_index(drop=True, inplace=True)
    print('parte 2')
teste.to_csv('tempo2.csv')

sim

In [11]:
equipe = []
for i in range(len(teste)):
    if teste['Time'][i] == sigla_time_b:
        b = list(teste.loc[i, :].values)
        if teste['Indicador'][i] == 'substituicao_sai':
            nome_antigo = teste['Nome'][i]
            print(jogadores_time_b)
            jogadores_time_b = ['nome_antigo' if x==nome_antigo else x for x in jogadores_time_b]
            print(i)
            print(nome_antigo)
            print(b)
            jogadores_time_b.remove('nome_antigo')
            equipe.append(jogadores_time_b)
        elif teste['Indicador'][i] == 'substituicao_entra':
            nome_novo = teste['Nome'][i]
            jogadores_time_b.append(nome_novo)
            equipe.append(jogadores_time_b)
        else:
            equipe.extend([jogadores_time_b])

['Ruivo', 'Deryk', 'Vitão', 'Jimmy', 'Maique']
39
Deryk
[1, 255.0, 2, 6, 'CAP', 'substituicao_sai', 'Deryk', -4, 4, 4]
['Ruivo', 'Vitão', 'Jimmy', 'Maique', 'Thomas']
49
Ruivo
[1, 314.0, 4, 9, 'CAP', 'substituicao_sai', 'Ruivo', -5, 5, 5]
['Vitão', 'Jimmy', 'Maique', 'Thomas']
50
Vitão
[1, 314.0, 4, 9, 'CAP', 'substituicao_sai', 'Vitão', -5, 5, 5]
['Jimmy', 'Maique', 'Thomas', 'Doria', 'Deryk']
59
Jimmy
[1, 339.0, 4, 9, 'CAP', 'substituicao_sai', 'Jimmy', -5, 5, 5]
['Maique', 'Thomas', 'Doria', 'Deryk', 'Barbosa']
68
Maique
[1, 365.0, 4, 11, 'CAP', 'substituicao_sai', 'Maique', -7, 7, 7]
['Thomas', 'Doria', 'Deryk', 'Barbosa', 'Ianguas']
95
Deryk
[1, 484.0, 7, 11, 'CAP', 'substituicao_sai', 'Deryk', -4, 4, 4]
['Thomas', 'Doria', 'Barbosa', 'Ianguas', 'Buiú']
118
Thomas
[1, 597.0, 9, 13, 'CAP', 'substituicao_sai', 'Thomas', -4, 4, 4]
['Doria', 'Barbosa', 'Ianguas', 'Buiú', 'Beto']
152
Ruivo
[2, 760.0, 17, 16, 'CAP', 'substituicao_sai', 'Ruivo', 1, -1, 1]

ValueError: list.remove(x): x not in list

In [ ]:
tipo = pd.DataFrame(equipe)
tipo

In [ ]:
tipo.to_csv('tempo2.csv')

In [ ]:
tipo = pd.DataFrame(dados_b)
tipo

In [ ]:
aaaaaaaaaaaaa

In [ ]:
file = "Combinations-NBB-20-21-141.pdf"

In [ ]:
# conversão de todas as páginas do pdf
tabelas = camelot.read_pdf(file, pages='all')

In [ ]:
tabelas[1]

In [ ]:
df_casa = pd.DataFrame()
table_casa = tabelas[1]
df_casa = pd.concat([table_casa.df])
df_casa.columns = ['Quinteto','Time','Score', 'Scor_diff','Pts/Min', 'Reb', 'Stl', 'Tov', 'Ass']
df_casa.drop([0], inplace=True)
df_casa.reset_index(drop=True, inplace=True)

In [ ]:
df_fora = pd.DataFrame()
table_fora = tabelas[2]
df_fora = pd.concat([table_fora.df])
df_fora.columns = ['Quinteto','Time','Score', 'Scor_diff','Pts/Min', 'Reb', 'Stl', 'Tov', 'Ass']
df_fora.drop([0], inplace=True)
df_fora.reset_index(drop=True, inplace=True)

In [ ]:
df_casa

In [ ]:
df_casa.iloc[5, 0]

In [ ]:
# DataFrame dos dados de casa e fora 
df_casa = pd.DataFrame()
table_casa = tabelas[1]
df_casa = pd.concat([table_casa.df])

df = pd.DataFrame()
table_casa = tabelas[2]
df_casa = pd.concat([table_casa.df])